@model AcunMedyaHospitalProject.Entities.Slider
@{
    ViewBag.Title = "CreateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Slider Ekleme Formu</h4>
            <p class="card-description">Hastaneye yeni Slider girişini bu formdan yapabilirsiniz.</p>
            <form method="post" class="forms-sample">
                <div class="form-group">
                    <label for="exampleInputUsername1">Başlık</label>
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.Title)</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Açıklama</label>
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.Description)</span>
                </div>
                <div class="form-group">
                    <label>Resum Urlsi</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <span class="text-danger">@Html.ValidationMessageFor(x => x.ImageUrl)</span>
                </div>
                <button type="submit" class="btn btn-primary mr-2"> Kaydet </button>
            </form>
        </div>
    </div>
</div>

